body{
    font-family: Roboto, sans-serif ;
    background-color:  #FFF;
    color:  #2E2F42;
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
:root{
    --color-hero-footer: #2E2F42;
}


/*HEADER*/

.header-logo{
color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo-accent{
   color:  #2E2F42;
}
.header-menu-link{
        color: #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-menu-link:hover{
    color: #404BBF;
}
.header-menu-link:focus{
    color: #404BBF;
}

.socials-link{
        color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.socials-link:hover{
    color: #404BBF;
}
.socials-link:focus{
    color: #404BBF;
}
/*HERO*/

.hero{
    background-color:  var(--color-hero-footer);
}
.hero-title{
        color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 10.71;
        letter-spacing: 0.02em;
}


.hero-button{
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.hero-button:is(:hover,:focus){
    color:#404BBF;
}

/*ADVANTAGE*/

.advantage-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.advantage-description{
     color:  #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--------ABOUT_US------------*/
.about_us-title{
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
/*.about_us-img{
}*/

/*--------TEAM------------*/
.team {}

.team-title {
        color: var(--color-hero-footer);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

/*.team-list {}

.team-item {}

.team-link {}*/

.team-subtitle {
    color: var(--color-hero-footer);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-profession {
        color:  #434455;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*--------FOOTER-WEB--------*/
.footer_web {
    background-color: var(--color-hero-footer);
}

.footer_web-logo {
        color:  #4D5AE5;
        font-family: Raleway, sans-serif; 
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer_web-logo-accent {
    color:  #F4F4FD;
}

.footer_web-text {
        color:  #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*-----PORTFOLIO-------*/

.portfolio-header-logo{
        color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.portfolio-header-logo-accent{
    color: var(--color-hero-footer);

}

.portfolio-header-link{
        color: var(--color-hero-footer);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-header-link:is(:hover,:focus){
    color: #404BBF;
}

.portfolio-address-link{
        color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.portfolio-address-link:is(:hover,:focus){
    color: #404BBF;
}
.portfolio-button-link{
        color:  #4D5AE5;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

